<div class="container" id="home-container">
  <div class="bg-light p-5 rounded-lg m-3 text-center">
    <h1 class="display-4">Home Page</h1>
    <p class="lead">of the Alpha Blog.</p>
    <p>Look at all these awesome articles.</p>
    <a class="btn btn-primary btn-lg" href="/articles" role="button">Sign up</a>
  </div>
</div>