<div class="container" id="home-container">
  <div class="bg-light p-5 rounded-lg m-3 text-center">
    <h1 class="display-4">Home Page</h1>
    <p class="lead">of the ALPHABLOG.</p>
    <p>Look at all these awesome articles.</p>
    <%= link_to "Sign up", signup_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>