<footer id="sticky-footer" class="footer mt-auto py-3 text-center border-top border-light">
  <div class="container">
    <span class="text-white">Copyright &copy; <%= link_to "Anne Ströhlein", "https://www.annestroehlein.de" , class: "text-white" %></span>
  </div>
</footer>